@media all and (min-width: 1024px) {
	
	.body {
		max-width: 1170px;
		margin: 0 auto;
		font-family: 'Gotham Pro';
	}

	.header {
		display: flex;
		justify-content: space-between;
	}

	.header__logo-list {
		display: flex;
		align-items: center;
	}

	.logo-list__logo {
		width: 55px;
		height: 55px;
	}

	.logo-list__menu-list {
		display: flex;
		align-items: center;
		text-align: justify;
		padding: 0 0 0 35px;
	}

	.menu-list__item {
		padding: 0 35px 0 0;
		font-weight: 500;
		font-size: 13px;
		color: black;
		text-decoration: none;
	}

	.header__elements {
		display: flex;
		align-items: center;
		text-align: justify;
	}

	.elements__line {
		position: relative;
		padding: 0 25px 0 0;
		outline: none;
		border: none;
		border-bottom: 1px solid black;
	}

	.elements__line::after {
		content: url(images/Vector-4.png);
		position: absolute;
	}

	.elements__sign-in {
		padding: 0 25px 0 0;
		font-weight: 500;
		font-size: 13px;
		color: black;
	}

	.elements__cart {
		position: relative;
		padding: 0 25px 0 0;
		font-weight: 500;
		font-size: 12px;
		color: black;
	}

	.elements__cart::after {
		content: "1";
		position: absolute;
		top: -3px;
		right: 10px;
		border-radius: 50%;
		width: 15px;
		height: 15px;
		color: white;
		background-color: black;
	}

	.elements__flag {
		width: 30px;
		height: 15px;
	}
	
	.first-section {
		display: flex;
	}

	.first-section__image-background {
		max-width: 1170;
		height: 280px;
	}

	.first-section__title {
		padding: 100px 0 0 50px;
		font-size: 30px;
		color: white;
		z-index: 1;
	}

	.first-section__excerpt {
		position: relative;
		padding: 0;
		font-size: 13px;
		color: white;
		z-index: 1;
	}

	.first-section__excerpt::after {
		content: url(images/Arrow.png);
		position: absolute;
	}

	.second-section {
		
	}

	.second-section__headline {
		align-self: center;
		font-size: 22px;
		z-index: 1;
		color: black;
	}

	.second-section__pictures-trainers {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.black__text {
		font-size: 12px;
	}

	.black__price {
		font-size: 14px;
		font-weight: 500;
	}

	.black__colours {
		
	}

	.colours__grey {
		
	}

	.brown__text {
		font-size: 12px;
	}

	.brown__price {
		font-size: 14px;
		font-weight: 500;
	}

	.brown__colours {

	}

	.grey__text {
		font-size: 12px;
	}

	.grey__price {
		font-size: 14px;
		font-weight: 500;
	}

	.grey__colours {

	}

	.white__text {
		font-size: 12px;
	}

	.white__price {
		font-size: 14px;
		font-weight: 500;
	}

	.white__colours {

	}

	.second-section__rectangle {
		display: flex;
		align-items: center;
		height: 494;
		background: black;
	}
	
	.rectangle__picture {
		
	}

	.rectangle__article {
		z-index: 1;
		color: white;
	}

	.article__headline {
		font-size: 22px;
	}

	.article__text-main {
		font-size: 14px;
	}

	.subtext__link {
		position: relative;
		font-size: 12px;
	}

	.subtext__link::after {
		content: url(images/Arrow.png);
		position: absolute;
	}

	
}
